      <!-- Presentation-->
      <section class="section novi-bg novi-bg-img section-xxl bg-default" id="section-see-features">
        <div class="container">
          <div class="row row-fix row-50">
            <div class="col-lg-4">
              <h3>About Me</h3>
            </div>
            <div class="col-lg-8">
              <figure class="figure-inline object-displacement-1"><img class="rounded-circle" src="images/images-9-382x382.png" alt="" width="382" height="382"/>
              </figure>
              <p>Monstroid² boasts clean and crispy design, bulletproof layout consistency and intuitive navigation. The template was created by top industry leaders in web design and user experience. Improve your audience engagement and loyalty with simple and user friendly tools offered by our template.</p>
              <p>We’ve made a huge effort to give site owners access to the most innovative HTML template, which includes a variety of modern web technologies as well as smooth and clear design and easy-to-use interface. That’s why Monstroid² can definitely become your favorite template.</p>
            </div>
          </div>
        </div>
      </section>
