      <!-- Footer corporate-->
      <footer class="novi-bg novi-bg-img footer-corporate">
        <div class="container">
          <div class="footer-corporate__inner">
            <p class="rights"><span>Monstroid&#178;</span><span>&nbsp;</span><span class="copyright-year"></span>.</p>
            <ul class="list-inline-xxs">
              <li><a class="icon novi-icon icon-xxs icon-primary fa fa-facebook" href="#"></a></li>
              <li><a class="icon novi-icon icon-xxs icon-primary fa fa-brands fa-x-twitter" href="#"></a></li>
              <li><a class="icon novi-icon icon-xxs icon-primary fa fa-google-plus" href="#"></a></li>
              <li><a class="icon novi-icon icon-xxs icon-primary fa fa-vimeo" href="#"></a></li>
              <li><a class="icon novi-icon icon-xxs icon-primary fa fa-youtube" href="#"></a></li>
              <li><a class="icon novi-icon icon-xxs icon-primary fa fa-pinterest" href="#"></a></li>
            </ul>
          </div>
        </div>
      </footer>
