      <section class="section novi-bg novi-bg-img section-xl bg-image bg-image-4 text-center bg-accent">
        <div class="container">
          <div class="row justify-content-sm-center row-60">
            <div class="col-md-4 col-xl-3">
                    <!--Circle progress bar-->
                    <div class="progress-circle">
                      <div class="progress-circle-block">
                        <svg class="progress-circle-bar" x="0" y="0" width="142" height="142" viewbox="0 0 142 142">
                          <circle class="progress-circle-bg" cx="71" cy="71" r="68"></circle>
                          <circle class="progress-circle-fg clipped" cx="71" cy="71" r="68"></circle>
                        </svg>
                        <div class="progress-circle-counter">45</div>
                      </div>
                      <p class="progress-bar-circle-title">Clean Interface</p>
                    </div>
            </div>
            <div class="col-md-4 col-xl-3">
                    <!--Circle progress bar-->
                    <div class="progress-circle">
                      <div class="progress-circle-block">
                        <svg class="progress-circle-bar" x="0" y="0" width="142" height="142" viewbox="0 0 142 142">
                          <circle class="progress-circle-bg" cx="71" cy="71" r="68"></circle>
                          <circle class="progress-circle-fg clipped" cx="71" cy="71" r="68"></circle>
                        </svg>
                        <div class="progress-circle-counter">60</div>
                      </div>
                      <p class="progress-bar-circle-title">Responsive Design</p>
                    </div>
            </div>
            <div class="col-md-4 col-xl-3">
                    <!--Circle progress bar-->
                    <div class="progress-circle">
                      <div class="progress-circle-block">
                        <svg class="progress-circle-bar" x="0" y="0" width="142" height="142" viewbox="0 0 142 142">
                          <circle class="progress-circle-bg" cx="71" cy="71" r="68"></circle>
                          <circle class="progress-circle-fg clipped" cx="71" cy="71" r="68"></circle>
                        </svg>
                        <div class="progress-circle-counter">80</div>
                      </div>
                      <p class="progress-bar-circle-title">Easy Customization</p>
                    </div>
            </div>
          </div>
        </div>
      </section>
